@keyframes show-animation {
  from {
    opacity: 0;
    transform: translateY(120px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.show {
  opacity: 1;

  animation: show-animation 1s linear;
}
