@import './shared.scss';

.header {
  width: $padding-width;
  height: $header-height;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;

  padding: 0px $padding-base;

  background-color: $color-white;
  color: $color-black;
}

.header-main {
  justify-content: flex-end;

  background-color: $color-main;
  color: $color-white;
}

.header-qrcode {
  justify-content: center;
}
