// app theme style
$color-main: #ff4d40;
$color-black: #333;
$color-white: #fff;
$color-lightgray3: #fafafa;
$color-lightgray2: #eaeaea;
$color-lightgray1: #dadada;

$padding-base: 14px;
$padding-width: calc(100% - 28px);

$margin-base: 14px;
$margin-width: calc(100% - 28px);

$box-border-radius: 8px;

$icon-font-size: 24px;
// ----------------------------------

$header-height: 64px;
