// app theme style
$color-main: #ff4d40;
$color-black: #333;
$color-white: #fff;
$color-lightgray3: #f6f6f6;
$color-lightgray2: #e5e5e5;
$color-lightgray1: #d2d2d2;

$padding-base: 14px;
$padding-width: calc(100% - 28px);

$margin-base: 14px;
$margin-width: calc(100% - 28px);

$box-border-radius: 8px;

$icon-font-size: 24px;
// ----------------------------------

$header-height: 64px;
$header-except-height: calc(100vh - 64px);
