@import './shared.scss';

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html,
body {
  width: 100vw;
  height: 100vh;
  // left: 0;
  // top: 0;
  // position: fixed;
  // overflow: hidden;
}

body {
  height: $header-except-height;

  //   & > #__next {
  //     width: 100vw;
  //     height: 100vh;
  //     overflow-x: hidden;
  //     overflow-y: scroll;
  //     -webkit-overflow-scrolling: touch; /* enables “momentum” (smooth) scrolling */
  //   }
}

.app-outer-container {
  width: 100%;
  min-height: $header-except-height; // header height

  margin-top: $header-height;

  // display: flex;
  // flex-direction: column;
  // justify-content: flex-start;
  // align-items: stretch;
}
