@import './shared.scss';

.main-feed-container {
  width: 100%;
  height: min-content;
  min-height: 206px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  position: relative;

  background-color: $color-main;
}

.main-feed-title-container {
  width: calc(100% - 64px);
  height: 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .main-feed-title {
    font-size: 24px;
    color: $color-white;
    font-weight: 600;
  }
}

.main-feed-content-container {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  margin: $margin-base;

  width: $margin-width;
  height: 90px;

  border-radius: $box-border-radius;

  background-color: $color-white;

  &.more {
    height: 220px;
    margin-top: 36px;
  }

  .main-feed-tab-menu {
    position: absolute;
    top: -32px;

    padding: 0px 24px;

    width: $padding-width;
    height: 35px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $color-white;

    .feed-tab-container {
      display: flex;
      align-items: center;

      height: 100%;

      .feed-tab {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 80px;
        height: 100%;

        margin-right: 3px;
        padding: 0 10px;

        background-color: $color-main;
        color: $color-white;
        border: 1px solid $color-white;

        -webkit-transition: background-color 0.3s;
        -moz-transition: background-color 0.3s;
        -o-transition: background-color 0.3s;
        transition: background-color 0.3s;

        border-top-left-radius: $box-border-radius;
        border-top-right-radius: $box-border-radius;
        border-bottom: none;

        &.feed-tab-active {
          background-color: $color-white;
          color: $color-main;
          border: 1px solid $color-main;
          border-bottom: none;
          transition: background-color 0.3s;
        }
      }
    }
  }

  .main-feed-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: $margin-width;
    height: 100%;
    margin: 0px 32px;
    justify-content: center;
    // z-index: 1;
    background-color: $color-white;

    &.more {
      height: 220px;
    }
  }
}

.main-item-container {
  width: $padding-width;
  height: 200px;

  padding: $padding-base;

  .main-item-content {
    width: 100%;
    height: 100%;

    border: 1px solid $color-main;
    border-radius: $box-border-radius;
  }
}
